.calendar {
  min-width: 500px;
}

.cal-body {
  overflow-y: auto;
}

.complete {
  text-decoration: line-through;
}

.day {
  padding: 0px;
}

.day-header {
  background-color: rgb(235, 235, 235);
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  margin: 0px;
  padding-bottom: 10px;
}

.day-info {
  padding: 5px;
  border: 1px solid lightgray;
}

.day-info .card :hover{
  background-color: lightgray;
  cursor: pointer;
}

.past {
  background: rgb(230, 230, 230);
}