.calendar {
  min-width: 500px;
}

.cal-body {
  overflow-y: auto;
}

.complete {
  text-decoration: line-through;
}

.day {
  padding: 0px;
  background-color: rgb(221, 240, 241);
  width: 14%;
}

.day-header {
  background-color: rgb(64, 88, 121);
  color: white;
  border-top: 1px solid rgb(44, 69, 103);
  border-left: 1px solid rgb(44, 69, 103);
  border-right: 1px solid rgb(44, 69, 103);
  margin: 0px;
  padding-bottom: 10px;
}

.day-info {
  padding: 5px;
  border: 1px solid rgb(44, 69, 103);
  font-size: 16px;
}

/* .day-info .card-body {
  padding: 5px;
} */

.day-info .card :hover{
  background-color: lightgray;
  cursor: pointer;
}

.past {
  background: rgb(155, 188, 189);
}

.day a {
  text-decoration: none;
  color: black;
}