body {
  background-color: rgb(241, 250, 238);
}

#nav {
  padding: 10px;
  padding-left: 20px;
  min-height: 100vh;
  min-width: 250px;
  background-color: rgb(69, 123, 157);
  color: white;
}

#nav .nav-link{
  font-size: 20px;
  color: white;
}

#nav .active{
  background-color: rgb(48, 91, 118);
}

#nav .nav-item :hover{
  background-color: rgb(48, 91, 118);
}

.nav-item .active{
  cursor: default;
}

#class-nav .nav-item :hover {
  cursor: pointer;
}

#class-nav .nav-link {
  color: rgb(48, 91, 118);
}

#class-nav .nav-item .active {
  background-color: rgb(241, 250, 238);
  cursor: default;
  color: black;
}

.card {
  margin: 15px 0px;
  background-color: rgb(183, 218, 220);
}

.dark-bg {
  background-color: rgb(55, 79, 113);
  color: white;
}

.dark-bg tbody {
  background-color: rgb(87, 104, 127);
}

.main {
  align-items: stretch;
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.main .row {
  width: 100%;
  margin: 0px;
}

.home-snapshot {
  height: 100%;
  max-height: 100vh;
}
