nav {
  margin-left: 10px;
  padding: 10px;
  min-height: 100vh;
  min-width: 250px;
}

.card {
  margin: 15px 0px;
}

.main {
  align-items: stretch;
  display: flex;
  width: 100%;
}

.nav-item :hover {
  background-color: rgb(218, 217, 217);
}

.nav-item {
  font-size: 20px;
}

.home-snapshot {
  height: 100%;
  max-height: 100vh;
}
