				<article class="col-9">
					<header>
						<h3>Announcements</h3>
					</header>

					<section class="card mb-3">
						<div class="row g-0">
							<section class="col-md-4">
								October 13, 2022 11:00 AM
							</section>

							<section class="col-md-8">
								<header>
									<h5>Announcement title</h5>
									From: Firstname Lastname
								</header>

								Announcement text goes here.
							</section>
						</div>
					</section>

					<section class="card mb-3">
						<div class="row g-0">
							<section class="col-md-4">
								October 13, 2022 11:00 AM
							</section>

							<section class="col-md-8">
								<header>
									<h5>Announcement title</h5>
									From: Firstname Lastname
								</header>

								Announcement text goes here.
							</section>
						</div>
					</section>

					<section class="card mb-3">
						<div class="row g-0">
							<section class="col-md-4">
								October 13, 2022 11:00 AM
							</section>

							<section class="col-md-8">
								<header>
									<h5>Announcement title</h5>
									From: Firstname Lastname
								</header>

								Announcement text goes here.
							</section>
						</div>
					</section>

					<section class="card mb-3">
						<div class="row g-0">
							<section class="col-md-4">
								October 13, 2022 11:00 AM
							</section>

							<section class="col-md-8">
								<header>
									<h5>Announcement title</h5>
									From: Firstname Lastname
								</header>

								Announcement text goes here.
							</section>
						</div>
					</section>
				</article>
