<div class="col-9">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col"><h3>Upcoming Assignments</h3></div>
        <div class="col-auto">
          <button class="btn btn-light">View All</button>
        </div>
      </div>
    </div>

    <!-- Assignment cards go here -->
    <div class="card-body">
      <div class="card dark-bg">
        <div class="card-body">
          <h5 class="card-title">Test Assignment</h5>

          <div class="row">
            <div class="col">
              <p><b>Due: </b>10/31/22 8:00pm</p>
            </div>
            <div class="col-auto">
              <button class="btn btn-light">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="card">
    <div class="card-header">
      <h3>Announcements</h3>
    </div>

    <div class="card-body">
      <p>Display most recent announcement here</p>
    </div>

    <div class="card-footer">
<a href="announcements.html">
  <button class="btn btn-light w-100">View All</button>
</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Class Grade</h3>
    </div>

    <div class="card-body text-center">
      <h2>93%</h2>
    </div>

    <div class="card-footer">
      <a href="grades.html">
        <button class="btn btn-light w-100">View All</button>
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <button class="btn btn-light w-100">Connect to Zoom</button>
    </div>
  </div>
</div>
