				<article class="row">
					<header>
						<h3>Grades</h3>
					</header>
					<section class="col-9">

						<section class="card">
							<header class="card-header">
								<h3>Assignments</h3>
							</header>

							<section class="card-body">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Assignment Name</th>
											<th>Grade</th>
										</tr>
									</thead>

									<tbody>
										<tr>
											<td><a href="assignment-details.html">Assignment 1</a></td>
											<td>100%</td>
										</tr>
									</tbody>
								</table>
							</section>
						</section>
					</section>

					<section class="col">
						<section class="card">
							<header class="card-header">
								<h3>Total</h3>
							</header>

							<section class="card-body text-center">
								<h2>93%</h2>
							</section>
						</section>

						<section class="card">
							<header class="card-header">
								<h3>Weighting</h3>
							</header>

							<section class="card-body">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Group</th>
											<th>Weight</th>
											<th>Grade</th>
										</tr>
									</thead>

									<tbody id="grade_weights">
										<tr>
											<td>Assignments</td>
											<td>20%</td>
											<td>100%</td>
										</tr>
									</tbody>
								</table>
							</section>
						</section>
					</section>

				</article>
