				<article class="row">
					<header>
						<h3>Grades</h3>
					</header>
					<section class="col-9">

						<section class="card">
							<header class="card-header">
								Assignments
							</header>

							<section class="card-body">
								<section class="row">
									<div class="col">
										Assignment 1
									</div>

									<div class="col">
										100%
									</div>
								</section>
							</section>
						</section>

						<section class="card">
							<header class="card-header">
								Quizzes
							</header>

							<section class="card-body">
								<section class="row">
									<div class="col">
										Quiz 1
									</div>

									<div class="col">
										90%
									</div>
								</section>
							</section>
						</section>

						<section class="card">
							<header class="card-header">
								Projects
							</header>

							<section class="card-body">
								<section class="row">
									<div class="col">
										Project 1
									</div>

									<div class="col">
										93%
									</div>
								</section>
							</section>
						</section>
					</section>

					<section class="col">
						<section class="card">
							<header class="card-header">
								Total
							</header>

							<section class="card-body">
								93%
							</section>
						</section>

						<section class="card">
							<header class="card-header">
								Weighting
							</header>

							<section class="card-body">
								<section class="row">
									<section class="col">
										Assignments
									</section>

									<section class="col">
										20%
									</section>

									<section class="col">
										100%
									</section>
								</section>

								<section class="row">
									<section class="col">
										Quizzes
									</section>

									<section class="col">
										30%
									</section>

									<section class="col">
										90%
									</section>
								</section>

								<section class="row">
									<section class="col">
										Projects
									</section>

									<section class="col">
										50%
									</section>

									<section class="col">
										93%
									</section>
								</section>
							</section>
						</section>
					</section>

				</article>
