<article>
    <header>
        <h3>moduleName</h3>
        <h5>posted</h5>
    </header>

    <section class="card">
        <header class="card-header d-flex flex-row align-items-baseline">
            <h5>Module Completion:</h5>
            <div class="progress w-25" style="margin-left: 10px;"><div class="progress-bar" style="width: 100%;" id="module-progress">100%</div></div>
        </header>
        <div class="card-body">
            <table class="table dark-bg">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Due</th>
                        <th>Complete</th>
                        <th></th>
                    </tr>
                </thead>
        
        
                <tbody>tbodyHere</tbody>
            </table>
        </div>
    </section>

</article>